<div class="card mt-5 text-center">
    <h5 class="card-header">Experiences</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md">
                <h5 class="card-title">Work</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h6>Summer jobbs, lessons learned</h6>
                        <p>
                            Performed well in both teams and independently when it came 
                            to solving various problems and to achieve good results.
                            Worked with a strong work ethic, professionalism and 
                            ability to work at a high work pace.
                            Worked with a humble attitude and willingness to 
                            learn while improving social skills.
                        </p>
                    </li>
                </ul>                  
            </div>
            <div class="col-md">
                <h5 class="card-title">Education</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h6>Natural Sciences, High School Diploma</h6>
                        <p>
                            High school science program with a focus on the scientific parts such as mathematics, physics and chemistry.
                            During this high school program, I got to participate in a lot of science, where my critical thinking and being a good problem solver was often at stake.
                        </p>
                    </li>
                </ul>                  
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <h5 class="card-title">Skills</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>
                            HyperText Markup Language <strong>(HTML)</strong> - Excellent	<br>	      
                            Cascading Style Sheets <strong>(CSS)</strong> - Excellent <br>     
                            JavaScript <strong>(JS)</strong> - Advanced	            <br>
                            Version Control <strong>(Git)</strong> - Intermediate   <br>
                            Responsive Design / Mobile first Websites - Intermediate	<br>       
                        </p>
                    </li>
                </ul>                  
            </div>
            <div class="col-md">
                <h5 class="card-title">Other</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>
                            Driving License - B driving license <br> 
                            Swedish - Excellent <br>
                            English - Advanced <br>
                            Somali - Intermediate <br>
                        </p>
                    </li>
                </ul>                  
            </div>
        </div>
        <a routerLink="/" class="btn btn-primary m-5">Brief Info</a>      
        <a routerLink="/contact" class="btn btn-primary m-5">Contact</a>      
    </div>
  </div>