<div class="card mt-5 text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">Brief Info</h5>
      <p class="card-text px-5">
        An ambitious student who is comfortable working with <br> 
        JavaScript, HTML and CSS to be able to deliver exceptional 
        customer experiences. <br> Ready to use previous skills and knowledge 
        as well as passion to help drive a business forward.    
      </p>
      <a routerLink="/experience" class="btn btn-primary">Experiences</a>
    </div>
</div>
<div class="row-md text-center mt-5">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmarketplace-cdn.atlassian.com%2Ffiles%2Fimages%2Ff7d3a59d-5680-4f27-bcce-54a0f6780820.png&f=1&nofb=1" alt="" width="400">
</div>